SQLAlchemy>=0.9.4,<1.0a0
alembic==0.6.4,<0.7a0

# need a patched version of bottle until this gets merged:
# https://github.com/defnull/bottle/pull/628
-e bottle=git+git://github.com/brettatoms/bottle.git@release-0.12
#bottle>=0.12.7,<0.13a0

ujson>=1.33<1.4a0
bcrypt==1.0.2
baker>=1.3,<2.0a0
uwsgi>=2.0,<2.1a0
pyparsing==2.0.1
python-dateutil==2.2
requests>=2.2.1,<2.3.a0

# on Mac you might need to add the location of the pg_config file to your $PATH for
# psycopg2, e.g PATH=$PATH:/Applications/Postgres93.app/Contents/MacOS/bin/ pip install psycopg2
psycopg2>=2.5.3,<2.6a0

# These are only for development
pytest>=2.5.1,<3.0a0
pytest-timeout>=0.3
